body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: grey;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
}

.gallery-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    padding: 20px;
    width: 420px;
    border-radius: 12px;
    box-shadow: 0 10px 25px black;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.caption {
    margin: 12px 0;
    font-size: 18px;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: grey;
    color: white;
}

button:hover {
    background: grey;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
